* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'fontbuttons';
  src: url(./fontes/RetroGaming.ttf);
}

@font-face {
  font-family: 'Font Title';
  src: url(./fontes/Oldstar2.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  z-index: 0;
  background: url("./shift/TelaFloresta.png") repeat center center/cover;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.navbar {
  background-color: #b0b0b0;
  padding: 45px 40px;
  display: inline-flex;
  height: 50px;
  width: 80%;
  border: 12px solid #000000;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-bottom-color: #878787;
  border-right-color: #878787;
  box-shadow: 0px 0px 0px 12px #000000;
  position: fixed;
  margin-top: 20px;
}

.container {
  display: flex;
  z-index: 10;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


.wiki,
.play {
  font-size: 2rem;
  font-family: 'fontbuttons', cursive;
  padding: 10px 15px;
  background: #2995C1;
  text-align: center;
  user-select: none;
  border: 0px;
  border-radius: 16px;
  box-shadow:
    inset -4px 2px 1px 1px #000000,
    inset -4px -2px 1px 1px #171717,
    inset 4px 0px 1px 1px #151515;
  transition: all 0.5s;
  position: relative;
}

.wiki:hover {
  cursor: pointer;
}

.wiki::after {
  position: absolute;
  display: block;
  content: '';
  border: 40px solid transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-image: url(https://i.imgur.com/CIBCfiF.png) 45 40 stretch;
}

.wiki:active {
  bottom: 10px;
  box-shadow:
    -4px 2px 1px 1px #000000,
    -4px -2px 1px 1px #171717,
    4px 0px 1px 1px #151515;
  background-color: #D5D908;
  transition: background-color 0.1ms;
}

.play {
  background-color: #D5D908;
  color: #000;
}

.play:active {
  bottom: 10px;
  box-shadow:
    -4px 2px 1px 1px #000000,
    -4px -2px 1px 1px #171717,
    4px 0px 1px 1px #151515;
  background-color: #2995C1;
  transition: background-color 0.1ms;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 40px;
  border: 3px solid #ae74c9;
  background-color: #0000008c;
  border-radius: 16px;
  height: 230px;
  width: 455px;
  bottom: 30px;
  position: absolute;
}

h1 {
  font-family: 'Font Title', sans-serif;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 900;
  color: #fafb57;
  position: absolute;
  top: -170px;
  left: 85px;
  z-index: 20;
}

h1 span {
  font-size: 7rem;
  color: #0650b9;
  display: block;
  position: relative;
  font-weight: 100;
  top: -35px;
  z-index: -1;
}

.button-menu {
  font-size: 2.5rem;
  font-family: 'fontbuttons', cursive;
  background-color: transparent;
  color: #fff;
  border: none;
}

/*
.botton1 {
    padding: 15px 8px;
    width: 120px;
    color: black;
    background-color: #0094D2;
    border: 2px solid #000000;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.botton1:hover {
    background-color: #D5D908;
    transition: background-color 1s;
}  */