* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'fontbuttons';
  src: url(./fontes/RetroGaming.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
    z-index: 0;
    background: url("./shift/TelaFloresta.png") repeat center center/cover; 
    display: flex;
    justify-content: center;
    align-items: top center;  
    height: 100vh; 
    position: relative;
    
}

.navbar {
    background-color: #b0b0b0;
    box-sizing: content-box;
    display: inline-flex;
    height: 12vh;
    width: 80%;
    border: 12px solid #000000;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #878787;
    border-right-color: #878787;
    box-shadow: 0px 0px 0px 12px #000000;
    position: relative;
    margin-top: 17px; 
  }

  .container {
    top: 1vh;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
  }


  .wiki {
    font-size: 1.2em;
    font-family: 'fontbuttons', cursive;
    width: 130px;
    height: 50px;
    background: #2995C1;
    top: 27px;
    left: -86vh;
    position: absolute;
    text-align: center;
    user-select: none;
    border: 0px;
    box-shadow: 
      inset -4px 2px 1px 1px #000000,
      inset -4px -2px 1px 1px #171717,
      inset 4px 0px 1px 1px #151515;   
  }
  
  .wiki:hover {
    cursor: pointer;
  }
  
  .wiki:active {
    top: 23px;
    box-shadow: 
      -4px 2px 1px 1px #000000,
      -4px -2px 1px 1px #171717,
      4px 0px 1px 1px #151515;
      background-color: #D5D908;
      transition: background-color 0.1ms; 
  }

  .wiki::after {
    content: '';
    background: black;
    position: absolute;
    left: -2.5%;
    top: 0;
    width: 105%;
    height: 100%;
    z-index: -1;
  }
  
  .wiki::before {
    content: '';
    background: black;
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 113%;
    z-index: -1;
  }

/*
.botton1 {
    padding: 15px 8px;
    width: 120px;
    color: black;
    background-color: #0094D2;
    border: 2px solid #000000;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.botton1:hover {
    background-color: #D5D908;
    transition: background-color 1s;
}  */
